<div class="logo">
    <h1>Netflex</h1>
</div>

<div class="introduction">
    <p>
        Senectus et netus et malesuada. Aliquam ut porttitor leo a diam sollicitudin tempor id. 
        Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Fames ac turpis egestas sed tempus. Enim ut sem viverra aliquet eget.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Enim nunc faucibus a pellentesque sit amet porttitor eget. Amet risus nullam eget felis. Egestas pretium aenean pharetra magna. 
        Ut tellus elementum sagittis vitae et leo duis. Aliquam malesuada bibendum arcu vitae elementum curabitur. 
        Pellentesque dignissim enim sit amet venenatis urna cursus eget. Arcu risus quis varius quam quisque id. 
        Donec adipiscing tristique risus nec feugiat in fermentum. 
    </p>
    
    <p>
        Pretium nibh ipsum consequat nisl. Risus nullam eget felis eget. Tortor condimentum lacinia quis vel eros donec ac. 
        A lacus vestibulum sed arcu non odio euismod lacinia at. Tellus molestie nunc non blandit massa enim nec dui nunc. 
        Elementum facilisis leo vel fringilla est. Iaculis nunc sed augue lacus. Leo vel fringilla est ullamcorper eget. 
        Sem et tortor consequat id porta nibh venenatis cras. Facilisi nullam vehicula ipsum a arcu.
    </p>
    
<p>
        Tellus in hac habitasse platea dictumst vestibulum rhoncus est. Dictum at tempor commodo ullamcorper a lacus. 
        Cum sociis natoque penatibus et. Urna id volutpat lacus laoreet non curabitur gravida arcu ac. Bibendum enim facilisis gravida neque. 
        Quis eleifend quam adipiscing vitae proin. Faucibus interdum posuere lorem ipsum dolor sit amet. Venenatis lectus magna fringilla urna porttitor. 
        Quisque id diam vel quam elementum pulvinar. Tellus at urna condimentum mattis pellentesque. 
        Potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed. Urna cursus eget nunc scelerisque.
</p>
    
</div>

<app-movies></app-movies>
<router-outlet></router-outlet>